
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}
.cont-menu{
    background-color: rgb(255, 187, 0);
    box-shadow: 2px 0px 5px 2px rgb(255, 128, 0);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}
.active{
    transform: translate(-600px);
}
.opacity{
    background-color: rgba(255, 128, 0, 0.773);
    transition: all .5s ease;

}
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
.cont-menu ul li{
    color: red;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.cont-menu ul li:hover{
    background-color: rgb(255, 217, 0);
    color: rgb(42, 42, 42);
}